@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: #404752;
  --blue-1: #327db4;
  --blue-2: #39579f;
  --green: #0fc755;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-green: var(--green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-1);
  border-radius: 999px;
}

* {
  font-family: var(--line-font-th) !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--foreground);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee linear infinite;
}
